figure{
    width: 100%;
    height: 800px;
    background-color: #444; //figure의 배경색을 어두운 회색(#444)으로 설정하여, 비디오가 로드되지 않을 경우 대체 배경으로 표시
    overflow: hidden;   //figure 내부의 콘텐츠가 요소의 크기를 벗어날 경우 보이지 않도록 잘라냄

    position: relative; //내부에 있는 자식 요소들이 absolute 위치 속성을 사용할 수 있게 figure를 기준으로 배치

    video{
        width: 100%;
        height: 100%;
        object-fit: cover;  //video가 figure 안에서 비율을 유지하면서 가득 채워지도록 설정. 화면에 맞게 잘리거나 확대될 수 있지만, 왜곡되지 않고 잘 채워짐.
        opacity: 0.7;

        position: absolute; //video를 figure 내부에 절대 위치로 배치
        top: 0px;   //video의 상단 위치를 figure의 상단에 맞춤
        left: 0px;  //video의 왼쪽 위치를 figure의 왼쪽에 맞춤
    }

    article{
        width: 80%;
        position: absolute; //article을 figure 내부에 절대 위치로 배치
        top: 50%;   //article을 figure의 세로 중앙에 위치
        left: 10%;  //article의 왼쪽을 figure의 10% 지점에 맞춥
        transform: translateY(-50%);    //article을 세로로 50% 위로 이동시켜 정확히 중앙에 오도록 조정
        color: #fff;

        h2{
            font-size: 7vmax;   //h2의 글자 크기를 뷰포트의 7%로 설정하여 화면 크기에 따라 자동으로 조절
            margin-bottom: 10px;
        }

        p{
            font-size: 1rem/1 'arial';
            opacity: 0.6;
            margin-bottom: 50px;
        }

        a{
            // display: inline-block;   //a 요소를 인라인 블록으로 설정하여 버튼 형태로 만듬
            border: 1px solid #fff;
            padding: 4px 50px;  //위아래로 4px, 좌우로 50px의 패딩을 추가하여 버튼 모양을 만듬
            font-size: 0.8rem;
        }
    }
}

.news{
    padding: 100px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h2{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        font: bold 2.5rem/1 'arial';
    }

    article{
        width: 20%;

        .pic{
            width: 100%;
            height: 200px;
            overflow: hidden;
            object-fit: contain;
        }

        h3{
            font: bold 1rem/1 'arial';
            text-align: center;
            margin: 10px;
        }

        p{
            font: 0.8rem/1 'arial';
            text-align: center;
        }
    }
}


.slogan{
    width: 100%;
    padding: 100px 10%;
    background: url(../media/slogan.jpg) no-repeat center 
    center;
    opacity: 0.8;
    text-align: left;

    h2{
        font: bold 3rem/1 'arial';
        color: #fff;
        margin-bottom: 30px;
    }

    p{
        font: 1.5rem/1.4 'arial';
        color: #fff;
        opacity: 0.5;
    }
}