header{
    width: 100%;
    padding: 20px 10%;  //위아래로 20px, 좌우로10% duqor
    display: flex;   //가로축 정렬
    border: 1px solid #ddd;
    justify-content: space-between; // 양끝부터 일정한 간격으로 배치
    align-items: flex-end;  //아래로 정렬 , #gnb와 밑라인 밎추기

    h1{
        font-size: 3rem;
    }

    nav{
        display: flex;  //가로축 정렬
        flex-wrap: wrap;    //가로축 너비 딱 맞게 줄바꿈 허용

        #gnb{
            width: 100%;
            display: flex;  //가로축 정렬
            justify-content: flex-end; //오른쪽으로 배치
            gap: 30px;
            order: 2;   //order number로 순서바꾸기
            font: bold 1rem/1 'arial';  //글꼴을 Arial, 굵게, 1rem 크기, 줄 높이 1로 설정
            color: #555;
        }
    
        .util{
            width: 100%;
            display: flex;   //가로축 정렬
            justify-content: flex-end; //오른쪽으로 배치
            gap: 20px;
            order: 1;   //order number로 순서바꾸기
            margin-bottom: 18px;    //util 아래 마진 설정
            font: 0.8rem/1 'arial'; //글꼴을 Arial, 0.8rem 크기, 줄 높이 1로 설정
            color: #888;
        }
    }
}